{% from 'macro.twig' import symbol, picture %}

<!DOCTYPE html>
<html class="page" lang="ru">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Мишка: {{ title }}</title>
    <link rel="icon" href="favicon.ico">
    <link rel="icon" href="{{ root }}img/favicons/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="{{ root }}img/favicons/180.png">
    <link rel="manifest" href="site.webmanifest">
    <link href="{{ root }}css/normalize.css" rel="stylesheet">
    <link href="{{ root }}css/style.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ root }}css/style.css{{ ver }}">
    {% if IS_DEV %}
      <link rel="stylesheet" href="{{ root }}css/dev.css{{ ver }}">
    {% endif %}
  </head>
  <body class="page__body">

    {% include 'partials/header.twig' %}

    <main>
      <header class="main-header">

        {% block mainHeader %}
          <h1 class="heading main-header__heading">{{ title }}</h1>
        {% endblock %}

      </header>

      {% filter typograph %}
        {% block pageMain %}
        {% endblock %}
      {% endfilter %}

    </main>

    {% include 'partials/footer.twig' %}

    {% if IS_DEV %}
      <script src="{{ root }}js/dev.js"></script>
    {% endif %}
  </body>
</html>
