{% from 'macro.twig' import symbol %}

<!DOCTYPE html>
<html class="page" lang="ru">
  <head>
    <meta charset="utf-8">
    <title>Мишка: {{ title }}</title>
    <link rel="stylesheet" href="{{ root }}css/style.css">
    {% if IS_DEV %}
      <link rel="stylesheet" href="{{ root }}css/dev.css">
    {% endif %}
  </head>
  <body class="page__body">

    {% include 'partials/header.twig' %}

    <main>
      <header class="main-header">

        {% block mainHeader %}
          <h1 class="heading main-header__heading">{{ title }}</h1>
        {% endblock %}

      </header>

      {% filter typograph %}
        {% block pageMain %}
        {% endblock %}
      {% endfilter %}

    </main>

    {% include 'partials/footer.twig' %}

    {% if IS_DEV %}
      <script src="{{ root }}js/dev.js"></script>
    {% endif %}
  </body>
</html>
